WWF/BPEL for WF March 2007 CTP/Samples/Common/WsdlFiles/FileService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:tns="http://tempuri.org/"
  xmlns:s="http://www.w3.org/2001/XMLSchema"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  targetNamespace="http://tempuri.org/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="writeLine">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="writeLineResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="writeLineSoapIn">
    <wsdl:part name="parameters" element="tns:writeLine" />
  </wsdl:message>
  <wsdl:message name="writeLineSoapOut">
    <wsdl:part name="parameters" element="tns:writeLineResponse" />
  </wsdl:message>
  <wsdl:portType name="FileServiceSoap">
    <wsdl:operation name="writeLine">
      <wsdl:input message="tns:writeLineSoapIn" />
      <wsdl:output message="tns:writeLineSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FileServiceSoap" type="tns:FileServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="writeLine">
      <soap:operation soapAction="http://tempuri.org/writeLine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FileServiceSoap12" type="tns:FileServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="writeLine">
      <soap12:operation soapAction="http://tempuri.org/writeLine" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileService">
    <wsdl:port name="FileServiceSoap" binding="tns:FileServiceSoap">
      <soap:address location="http://localhost:8081/FileService/File.asmx" />
    </wsdl:port>
    <wsdl:port name="FileServiceSoap12" binding="tns:FileServiceSoap12">
      <soap12:address location="http://localhost:8081/FileService/File.asmx" />
    </wsdl:port>
  </wsdl:service>

  <plnk:partnerLinkType name="fileLinkType">
    <plnk:role name="application">
      <plnk:portType name="FileServiceSoap"/>
    </plnk:role>
  </plnk:partnerLinkType>
</wsdl:definitions>