2002/101 VB.NET Samples/VB.NET - Web Development - Exposing a Simple Web Service/Web Sites/HowToWebServiceClient/Web References/localhost/main.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://msdn.microsoft.com/vbasic/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:i0="http://tempuri.org/dsCustOrderHist.xsd" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://msdn.microsoft.com/vbasic/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <import namespace="http://tempuri.org/dsCustOrderHist.xsd" location="http://localhost/howtobuildwebservices/main.asmx?schema=dsCustOrderHist" />
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://msdn.microsoft.com/vbasic/">
      <s:import namespace="http://tempuri.org/dsCustOrderHist.xsd" />
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="About">
        <s:complexType />
      </s:element>
      <s:element name="AboutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AboutResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerOrderHistory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCustID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerOrderHistoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomerOrderHistoryResult" type="s0:CustomerAndOrderHistoryInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CustomerAndOrderHistoryInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Orders">
            <s:complexType>
              <s:sequence>
                <s:any namespace="http://tempuri.org/dsCustOrderHist.xsd" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
        <s:attribute name="Company" type="s:string" />
      </s:complexType>
      <s:element name="GetTenMostExpensiveProducts">
        <s:complexType />
      </s:element>
      <s:element name="GetTenMostExpensiveProductsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTenMostExpensiveProductsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="CustomerAndOrderHistoryInfo" nillable="true" type="s0:CustomerAndOrderHistoryInfo" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="AboutSoapIn">
    <part name="parameters" element="s0:About" />
  </message>
  <message name="AboutSoapOut">
    <part name="parameters" element="s0:AboutResponse" />
  </message>
  <message name="GetCustomerOrderHistorySoapIn">
    <part name="parameters" element="s0:GetCustomerOrderHistory" />
  </message>
  <message name="GetCustomerOrderHistorySoapOut">
    <part name="parameters" element="s0:GetCustomerOrderHistoryResponse" />
  </message>
  <message name="GetTenMostExpensiveProductsSoapIn">
    <part name="parameters" element="s0:GetTenMostExpensiveProducts" />
  </message>
  <message name="GetTenMostExpensiveProductsSoapOut">
    <part name="parameters" element="s0:GetTenMostExpensiveProductsResponse" />
  </message>
  <message name="AboutHttpGetIn" />
  <message name="AboutHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetCustomerOrderHistoryHttpGetIn">
    <part name="strCustID" type="s:string" />
  </message>
  <message name="GetCustomerOrderHistoryHttpGetOut">
    <part name="Body" element="s0:CustomerAndOrderHistoryInfo" />
  </message>
  <message name="GetTenMostExpensiveProductsHttpGetIn" />
  <message name="GetTenMostExpensiveProductsHttpGetOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="AboutHttpPostIn" />
  <message name="AboutHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetCustomerOrderHistoryHttpPostIn">
    <part name="strCustID" type="s:string" />
  </message>
  <message name="GetCustomerOrderHistoryHttpPostOut">
    <part name="Body" element="s0:CustomerAndOrderHistoryInfo" />
  </message>
  <message name="GetTenMostExpensiveProductsHttpPostIn" />
  <message name="GetTenMostExpensiveProductsHttpPostOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <portType name="MainSoap">
    <operation name="About">
      <input message="s0:AboutSoapIn" />
      <output message="s0:AboutSoapOut" />
    </operation>
    <operation name="GetCustomerOrderHistory">
      <documentation>Get an instance of the custom class CustomerAndOrderHistoryInfo, which has a field containing a typed DataSet of products that the customer has ordered in the past and a field for the company name of the customer.</documentation>
      <input message="s0:GetCustomerOrderHistorySoapIn" />
      <output message="s0:GetCustomerOrderHistorySoapOut" />
    </operation>
    <operation name="GetTenMostExpensiveProducts">
      <documentation>Get an untyped DataSet of the ten most expensive products from the Northwind database.</documentation>
      <input message="s0:GetTenMostExpensiveProductsSoapIn" />
      <output message="s0:GetTenMostExpensiveProductsSoapOut" />
    </operation>
  </portType>
  <portType name="MainHttpGet">
    <operation name="About">
      <input message="s0:AboutHttpGetIn" />
      <output message="s0:AboutHttpGetOut" />
    </operation>
    <operation name="GetCustomerOrderHistory">
      <documentation>Get an instance of the custom class CustomerAndOrderHistoryInfo, which has a field containing a typed DataSet of products that the customer has ordered in the past and a field for the company name of the customer.</documentation>
      <input message="s0:GetCustomerOrderHistoryHttpGetIn" />
      <output message="s0:GetCustomerOrderHistoryHttpGetOut" />
    </operation>
    <operation name="GetTenMostExpensiveProducts">
      <documentation>Get an untyped DataSet of the ten most expensive products from the Northwind database.</documentation>
      <input message="s0:GetTenMostExpensiveProductsHttpGetIn" />
      <output message="s0:GetTenMostExpensiveProductsHttpGetOut" />
    </operation>
  </portType>
  <portType name="MainHttpPost">
    <operation name="About">
      <input message="s0:AboutHttpPostIn" />
      <output message="s0:AboutHttpPostOut" />
    </operation>
    <operation name="GetCustomerOrderHistory">
      <documentation>Get an instance of the custom class CustomerAndOrderHistoryInfo, which has a field containing a typed DataSet of products that the customer has ordered in the past and a field for the company name of the customer.</documentation>
      <input message="s0:GetCustomerOrderHistoryHttpPostIn" />
      <output message="s0:GetCustomerOrderHistoryHttpPostOut" />
    </operation>
    <operation name="GetTenMostExpensiveProducts">
      <documentation>Get an untyped DataSet of the ten most expensive products from the Northwind database.</documentation>
      <input message="s0:GetTenMostExpensiveProductsHttpPostIn" />
      <output message="s0:GetTenMostExpensiveProductsHttpPostOut" />
    </operation>
  </portType>
  <binding name="MainSoap" type="s0:MainSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="About">
      <soap:operation soapAction="http://msdn.microsoft.com/vbasic/About" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetCustomerOrderHistory">
      <soap:operation soapAction="http://msdn.microsoft.com/vbasic/GetCustomerOrderHistory" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetTenMostExpensiveProducts">
      <soap:operation soapAction="http://msdn.microsoft.com/vbasic/GetTenMostExpensiveProducts" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="MainHttpGet" type="s0:MainHttpGet">
    <http:binding verb="GET" />
    <operation name="About">
      <http:operation location="/About" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetCustomerOrderHistory">
      <http:operation location="/GetCustomerOrderHistory" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetTenMostExpensiveProducts">
      <http:operation location="/GetTenMostExpensiveProducts" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="MainHttpPost" type="s0:MainHttpPost">
    <http:binding verb="POST" />
    <operation name="About">
      <http:operation location="/About" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetCustomerOrderHistory">
      <http:operation location="/GetCustomerOrderHistory" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetTenMostExpensiveProducts">
      <http:operation location="/GetTenMostExpensiveProducts" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="Main">
    <port name="MainSoap" binding="s0:MainSoap">
      <soap:address location="http://localhost/howtobuildwebservices/main.asmx" />
    </port>
    <port name="MainHttpGet" binding="s0:MainHttpGet">
      <http:address location="http://localhost/howtobuildwebservices/main.asmx" />
    </port>
    <port name="MainHttpPost" binding="s0:MainHttpPost">
      <http:address location="http://localhost/howtobuildwebservices/main.asmx" />
    </port>
  </service>
</definitions>