WWF/Hands on labs 3.5/Lab06/VB/after/Exercise1/ContosoWorkflows/Web References/Fabrikam/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SubmitPO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="incomingPO" type="tns:PO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FulfillerTrackingNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="History" type="tns:ArrayOfPOStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="Items" type="tns:ArrayOfPOItem" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderTotal" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="PONumber" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPOStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="POStatus" nillable="true" type="tns:POStatus" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="POStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Contact" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PoStatus" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Timestamp" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPOItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="POItem" nillable="true" type="tns:POItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="POItem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Sku" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SubmitPOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitPOResult" type="tns:PO" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SubmitPOSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitPO" />
  </wsdl:message>
  <wsdl:message name="SubmitPOSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitPOResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="SubmitPO">
      <wsdl:input message="tns:SubmitPOSoapIn" />
      <wsdl:output message="tns:SubmitPOSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitPO">
      <soap:operation soapAction="http://tempuri.org/SubmitPO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitPO">
      <soap12:operation soapAction="http://tempuri.org/SubmitPO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:50557/Fabrikam/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:50557/Fabrikam/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>