2002/ALL VB .NET SAMPLES/VB.NET - Web Services - Consume a Web Service/Web References/VBWS/ServerTime.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetTime">
        <s:complexType />
      </s:element>
      <s:element name="GetTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetTimeResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dateTime" type="s:dateTime" />
    </s:schema>
  </types>
  <message name="GetTimeSoapIn">
    <part name="parameters" element="s0:GetTime" />
  </message>
  <message name="GetTimeSoapOut">
    <part name="parameters" element="s0:GetTimeResponse" />
  </message>
  <message name="GetTimeHttpGetIn" />
  <message name="GetTimeHttpGetOut">
    <part name="Body" element="s0:dateTime" />
  </message>
  <message name="GetTimeHttpPostIn" />
  <message name="GetTimeHttpPostOut">
    <part name="Body" element="s0:dateTime" />
  </message>
  <portType name="ServerTimeSoap">
    <operation name="GetTime">
      <input message="s0:GetTimeSoapIn" />
      <output message="s0:GetTimeSoapOut" />
    </operation>
  </portType>
  <portType name="ServerTimeHttpGet">
    <operation name="GetTime">
      <input message="s0:GetTimeHttpGetIn" />
      <output message="s0:GetTimeHttpGetOut" />
    </operation>
  </portType>
  <portType name="ServerTimeHttpPost">
    <operation name="GetTime">
      <input message="s0:GetTimeHttpPostIn" />
      <output message="s0:GetTimeHttpPostOut" />
    </operation>
  </portType>
  <binding name="ServerTimeSoap" type="s0:ServerTimeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetTime">
      <soap:operation soapAction="http://tempuri.org/GetTime" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="ServerTimeHttpGet" type="s0:ServerTimeHttpGet">
    <http:binding verb="GET" />
    <operation name="GetTime">
      <http:operation location="/GetTime" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="ServerTimeHttpPost" type="s0:ServerTimeHttpPost">
    <http:binding verb="POST" />
    <operation name="GetTime">
      <http:operation location="/GetTime" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="ServerTime">
    <port name="ServerTimeSoap" binding="s0:ServerTimeSoap">
      <soap:address location="http://www.vbws.com/services/ServerTime.asmx" />
    </port>
    <port name="ServerTimeHttpGet" binding="s0:ServerTimeHttpGet">
      <http:address location="http://www.vbws.com/services/ServerTime.asmx" />
    </port>
    <port name="ServerTimeHttpPost" binding="s0:ServerTimeHttpPost">
      <http:address location="http://www.vbws.com/services/ServerTime.asmx" />
    </port>
  </service>
</definitions>