WWF/BPEL for WF March 2007 CTP/Samples/LoanApplication/References/DatabaseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:bpws="http://schemas.xmlsoap.org/ws/2003/03/business-process"
                  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UpdateLoanStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateLoanStatusResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetCreditDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCreditDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCreditDetailsResult">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RiskProfile" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="CreditStatus" type="s:string" />
                  <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:int" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateCreditReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CreditRating" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateCreditReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GenerateCreditReportResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateLoanQuote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CreditReportId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateLoanQuoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GenerateLoanQuoteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpdateLoanStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateLoanStatus" />
  </wsdl:message>
  <wsdl:message name="UpdateLoanStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateLoanStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetCreditDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCreditDetails" />
  </wsdl:message>
  <wsdl:message name="GetCreditDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCreditDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateCreditReportSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateCreditReport" />
  </wsdl:message>
  <wsdl:message name="GenerateCreditReportSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateCreditReportResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateLoanQuoteSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateLoanQuote" />
  </wsdl:message>
  <wsdl:message name="GenerateLoanQuoteSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateLoanQuoteResponse" />
  </wsdl:message>
  <wsdl:portType name="DatabaseServiceSoap">
    <wsdl:operation name="UpdateLoanStatus">
      <wsdl:input message="tns:UpdateLoanStatusSoapIn" />
      <wsdl:output message="tns:UpdateLoanStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCreditDetails">
      <wsdl:input message="tns:GetCreditDetailsSoapIn" />
      <wsdl:output message="tns:GetCreditDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateCreditReport">
      <wsdl:input message="tns:GenerateCreditReportSoapIn" />
      <wsdl:output message="tns:GenerateCreditReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateLoanQuote">
      <wsdl:input message="tns:GenerateLoanQuoteSoapIn" />
      <wsdl:output message="tns:GenerateLoanQuoteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DatabaseServiceSoap" type="tns:DatabaseServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateLoanStatus">
      <soap:operation soapAction="http://tempuri.org/UpdateLoanStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCreditDetails">
      <soap:operation soapAction="http://tempuri.org/GetCreditDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateCreditReport">
      <soap:operation soapAction="http://tempuri.org/GenerateCreditReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateLoanQuote">
      <soap:operation soapAction="http://tempuri.org/GenerateLoanQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DatabaseServiceSoap12" type="tns:DatabaseServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateLoanStatus">
      <soap12:operation soapAction="http://tempuri.org/UpdateLoanStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCreditDetails">
      <soap12:operation soapAction="http://tempuri.org/GetCreditDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateCreditReport">
      <soap12:operation soapAction="http://tempuri.org/GenerateCreditReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateLoanQuote">
      <soap12:operation soapAction="http://tempuri.org/GenerateLoanQuote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DatabaseService">
    <wsdl:port name="DatabaseServiceSoap" binding="tns:DatabaseServiceSoap">
      <soap:address location="http://localhost:8083/DatabaseWebService/DatabaseService.asmx" />
    </wsdl:port>
    <wsdl:port name="DatabaseServiceSoap12" binding="tns:DatabaseServiceSoap12">
      <soap12:address location="http://localhost:8083/DatabaseWebService/DatabaseService.asmx" />
    </wsdl:port>
  </wsdl:service>


  <plnk:partnerLinkType name="DatabaseServiceLink">
    <plnk:role name="DatabaseUser">
      <plnk:portType name="DatabaseServiceSoap"/>
    </plnk:role>
  </plnk:partnerLinkType>

</wsdl:definitions>