2005/Windows SDK NetFx 3.0/Technologies/WinForms/EventBasedAsyncSample/VB/EventBasedAsyncSampleVB/Web References/SimpleWebServices/SimpleWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/samplewebservices/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://localhost/samplewebservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/samplewebservices/">
      <s:element name="GetAnswer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="question" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAnswerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAnswerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAnswerSoapIn">
    <wsdl:part name="parameters" element="tns:GetAnswer" />
  </wsdl:message>
  <wsdl:message name="GetAnswerSoapOut">
    <wsdl:part name="parameters" element="tns:GetAnswerResponse" />
  </wsdl:message>
  <wsdl:portType name="SimpleWebServiceSoap">
    <wsdl:operation name="GetAnswer">
      <wsdl:input message="tns:GetAnswerSoapIn" />
      <wsdl:output message="tns:GetAnswerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SimpleWebServiceSoap" type="tns:SimpleWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAnswer">
      <soap:operation soapAction="http://localhost/samplewebservices/GetAnswer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SimpleWebService">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="SimpleWebServiceSoap" binding="tns:SimpleWebServiceSoap">
      <soap:address location="http://localhost/samplewebservices/simplewebservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>