2002B2/CS/WebServices-WinFormClient-AsyncWebService/AsyncTestClient/Web References/localhost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s0="http://tempuri.org/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DoSomeWork">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Delay" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSomeWorkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DoSomeWorkResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
    </s:schema>
  </types>
  <message name="DoSomeWorkSoapIn">
    <part name="parameters" element="s0:DoSomeWork" />
  </message>
  <message name="DoSomeWorkSoapOut">
    <part name="parameters" element="s0:DoSomeWorkResponse" />
  </message>
  <message name="DoSomeWorkHttpGetIn">
    <part name="Delay" type="s:string" />
  </message>
  <message name="DoSomeWorkHttpGetOut">
    <part name="Body" element="s0:int" />
  </message>
  <message name="DoSomeWorkHttpPostIn">
    <part name="Delay" type="s:string" />
  </message>
  <message name="DoSomeWorkHttpPostOut">
    <part name="Body" element="s0:int" />
  </message>
  <portType name="Service1Soap">
    <operation name="DoSomeWork">
      <input message="s0:DoSomeWorkSoapIn" />
      <output message="s0:DoSomeWorkSoapOut" />
    </operation>
  </portType>
  <portType name="Service1HttpGet">
    <operation name="DoSomeWork">
      <input message="s0:DoSomeWorkHttpGetIn" />
      <output message="s0:DoSomeWorkHttpGetOut" />
    </operation>
  </portType>
  <portType name="Service1HttpPost">
    <operation name="DoSomeWork">
      <input message="s0:DoSomeWorkHttpPostIn" />
      <output message="s0:DoSomeWorkHttpPostOut" />
    </operation>
  </portType>
  <binding name="Service1Soap" type="s0:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="DoSomeWork">
      <soap:operation soapAction="http://tempuri.org/DoSomeWork" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="Service1HttpGet" type="s0:Service1HttpGet">
    <http:binding verb="GET" />
    <operation name="DoSomeWork">
      <http:operation location="/DoSomeWork" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="Service1HttpPost" type="s0:Service1HttpPost">
    <http:binding verb="POST" />
    <operation name="DoSomeWork">
      <http:operation location="/DoSomeWork" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="Service1">
    <port name="Service1Soap" binding="s0:Service1Soap">
      <soap:address location="http://localhost/AsyncWebServiceCS/Service1.asmx" />
    </port>
    <port name="Service1HttpGet" binding="s0:Service1HttpGet">
      <http:address location="http://localhost/AsyncWebServiceCS/Service1.asmx" />
    </port>
    <port name="Service1HttpPost" binding="s0:Service1HttpPost">
      <http:address location="http://localhost/AsyncWebServiceCS/Service1.asmx" />
    </port>
  </service>
</definitions>