2002B2/CS/WebServices-CreditCardCheck/CreditCardCheckClient/Web References/localhost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s0="http://tempuri.org/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="VerifyCreditCard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="psCardNumber" nillable="true" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyCreditCardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VerifyCreditCardResult" nillable="true" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </types>
  <message name="VerifyCreditCardSoapIn">
    <part name="parameters" element="s0:VerifyCreditCard" />
  </message>
  <message name="VerifyCreditCardSoapOut">
    <part name="parameters" element="s0:VerifyCreditCardResponse" />
  </message>
  <message name="VerifyCreditCardHttpGetIn">
    <part name="psCardNumber" type="s:string" />
  </message>
  <message name="VerifyCreditCardHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="VerifyCreditCardHttpPostIn">
    <part name="psCardNumber" type="s:string" />
  </message>
  <message name="VerifyCreditCardHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <portType name="Service1Soap">
    <operation name="VerifyCreditCard">
      <input message="s0:VerifyCreditCardSoapIn" />
      <output message="s0:VerifyCreditCardSoapOut" />
    </operation>
  </portType>
  <portType name="Service1HttpGet">
    <operation name="VerifyCreditCard">
      <input message="s0:VerifyCreditCardHttpGetIn" />
      <output message="s0:VerifyCreditCardHttpGetOut" />
    </operation>
  </portType>
  <portType name="Service1HttpPost">
    <operation name="VerifyCreditCard">
      <input message="s0:VerifyCreditCardHttpPostIn" />
      <output message="s0:VerifyCreditCardHttpPostOut" />
    </operation>
  </portType>
  <binding name="Service1Soap" type="s0:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="VerifyCreditCard">
      <soap:operation soapAction="http://tempuri.org/VerifyCreditCard" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="Service1HttpGet" type="s0:Service1HttpGet">
    <http:binding verb="GET" />
    <operation name="VerifyCreditCard">
      <http:operation location="/VerifyCreditCard" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="Service1HttpPost" type="s0:Service1HttpPost">
    <http:binding verb="POST" />
    <operation name="VerifyCreditCard">
      <http:operation location="/VerifyCreditCard" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="Service1">
    <port name="Service1Soap" binding="s0:Service1Soap">
      <soap:address location="http://localhost/CreditCardCheckServiceCS/Service1.asmx" />
    </port>
    <port name="Service1HttpGet" binding="s0:Service1HttpGet">
      <http:address location="http://localhost/CreditCardCheckServiceCS/Service1.asmx" />
    </port>
    <port name="Service1HttpPost" binding="s0:Service1HttpPost">
      <http:address location="http://localhost/CreditCardCheckServiceCS/Service1.asmx" />
    </port>
  </service>
</definitions>