GotDotNet.com/AccessWebService/TaxCalculator/TaxCalculator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetSalesTax">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pSalesTotal" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalesTaxResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetSalesTaxResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="double" type="s:double" />
    </s:schema>
  </types>
  <message name="GetSalesTaxSoapIn">
    <part name="parameters" element="s0:GetSalesTax" />
  </message>
  <message name="GetSalesTaxSoapOut">
    <part name="parameters" element="s0:GetSalesTaxResponse" />
  </message>
  <message name="GetSalesTaxHttpGetIn">
    <part name="pSalesTotal" type="s:string" />
  </message>
  <message name="GetSalesTaxHttpGetOut">
    <part name="Body" element="s0:double" />
  </message>
  <message name="GetSalesTaxHttpPostIn">
    <part name="pSalesTotal" type="s:string" />
  </message>
  <message name="GetSalesTaxHttpPostOut">
    <part name="Body" element="s0:double" />
  </message>
  <portType name="Service1Soap">
    <operation name="GetSalesTax">
      <input message="s0:GetSalesTaxSoapIn" />
      <output message="s0:GetSalesTaxSoapOut" />
    </operation>
  </portType>
  <portType name="Service1HttpGet">
    <operation name="GetSalesTax">
      <input message="s0:GetSalesTaxHttpGetIn" />
      <output message="s0:GetSalesTaxHttpGetOut" />
    </operation>
  </portType>
  <portType name="Service1HttpPost">
    <operation name="GetSalesTax">
      <input message="s0:GetSalesTaxHttpPostIn" />
      <output message="s0:GetSalesTaxHttpPostOut" />
    </operation>
  </portType>
  <binding name="Service1Soap" type="s0:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetSalesTax">
      <soap:operation soapAction="http://tempuri.org/GetSalesTax" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="Service1HttpGet" type="s0:Service1HttpGet">
    <http:binding verb="GET" />
    <operation name="GetSalesTax">
      <http:operation location="/GetSalesTax" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="Service1HttpPost" type="s0:Service1HttpPost">
    <http:binding verb="POST" />
    <operation name="GetSalesTax">
      <http:operation location="/GetSalesTax" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="Service1">
    <port name="Service1Soap" binding="s0:Service1Soap">
      <soap:address location="http://localhost/TaxCalculator/Service1.asmx" />
    </port>
    <port name="Service1HttpGet" binding="s0:Service1HttpGet">
      <http:address location="http://localhost/TaxCalculator/Service1.asmx" />
    </port>
    <port name="Service1HttpPost" binding="s0:Service1HttpPost">
      <http:address location="http://localhost/TaxCalculator/Service1.asmx" />
    </port>
  </service>
</definitions>