2002/101 VB.NET Samples/VB.NET - Web Services - Consume a Web Service/Web References/Esynaps/DailyDiblert.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DailyDilbertImage">
        <s:complexType />
      </s:element>
      <s:element name="DailyDilbertImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DailyDilbertImageResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DailyDilbertImagePath">
        <s:complexType />
      </s:element>
      <s:element name="DailyDilbertImagePathResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DailyDilbertImagePathResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="base64Binary" nillable="true" type="s:base64Binary" />
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </types>
  <message name="DailyDilbertImageSoapIn">
    <part name="parameters" element="s0:DailyDilbertImage" />
  </message>
  <message name="DailyDilbertImageSoapOut">
    <part name="parameters" element="s0:DailyDilbertImageResponse" />
  </message>
  <message name="DailyDilbertImagePathSoapIn">
    <part name="parameters" element="s0:DailyDilbertImagePath" />
  </message>
  <message name="DailyDilbertImagePathSoapOut">
    <part name="parameters" element="s0:DailyDilbertImagePathResponse" />
  </message>
  <message name="DailyDilbertImageHttpGetIn" />
  <message name="DailyDilbertImageHttpGetOut">
    <part name="Body" element="s0:base64Binary" />
  </message>
  <message name="DailyDilbertImagePathHttpGetIn" />
  <message name="DailyDilbertImagePathHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="DailyDilbertImageHttpPostIn" />
  <message name="DailyDilbertImageHttpPostOut">
    <part name="Body" element="s0:base64Binary" />
  </message>
  <message name="DailyDilbertImagePathHttpPostIn" />
  <message name="DailyDilbertImagePathHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <portType name="DailyDilbertSoap">
    <operation name="DailyDilbertImage">
      <input message="s0:DailyDilbertImageSoapIn" />
      <output message="s0:DailyDilbertImageSoapOut" />
    </operation>
    <operation name="DailyDilbertImagePath">
      <input message="s0:DailyDilbertImagePathSoapIn" />
      <output message="s0:DailyDilbertImagePathSoapOut" />
    </operation>
  </portType>
  <portType name="DailyDilbertHttpGet">
    <operation name="DailyDilbertImage">
      <input message="s0:DailyDilbertImageHttpGetIn" />
      <output message="s0:DailyDilbertImageHttpGetOut" />
    </operation>
    <operation name="DailyDilbertImagePath">
      <input message="s0:DailyDilbertImagePathHttpGetIn" />
      <output message="s0:DailyDilbertImagePathHttpGetOut" />
    </operation>
  </portType>
  <portType name="DailyDilbertHttpPost">
    <operation name="DailyDilbertImage">
      <input message="s0:DailyDilbertImageHttpPostIn" />
      <output message="s0:DailyDilbertImageHttpPostOut" />
    </operation>
    <operation name="DailyDilbertImagePath">
      <input message="s0:DailyDilbertImagePathHttpPostIn" />
      <output message="s0:DailyDilbertImagePathHttpPostOut" />
    </operation>
  </portType>
  <binding name="DailyDilbertSoap" type="s0:DailyDilbertSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="DailyDilbertImage">
      <soap:operation soapAction="http://tempuri.org/DailyDilbertImage" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DailyDilbertImagePath">
      <soap:operation soapAction="http://tempuri.org/DailyDilbertImagePath" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="DailyDilbertHttpGet" type="s0:DailyDilbertHttpGet">
    <http:binding verb="GET" />
    <operation name="DailyDilbertImage">
      <http:operation location="/DailyDilbertImage" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="DailyDilbertImagePath">
      <http:operation location="/DailyDilbertImagePath" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="DailyDilbertHttpPost" type="s0:DailyDilbertHttpPost">
    <http:binding verb="POST" />
    <operation name="DailyDilbertImage">
      <http:operation location="/DailyDilbertImage" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="DailyDilbertImagePath">
      <http:operation location="/DailyDilbertImagePath" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="DailyDilbert">
    <port name="DailyDilbertSoap" binding="s0:DailyDilbertSoap">
      <soap:address location="http://www.esynaps.com/WebServices/DailyDiblert.asmx" />
    </port>
    <port name="DailyDilbertHttpGet" binding="s0:DailyDilbertHttpGet">
      <http:address location="http://www.esynaps.com/WebServices/DailyDiblert.asmx" />
    </port>
    <port name="DailyDilbertHttpPost" binding="s0:DailyDilbertHttpPost">
      <http:address location="http://www.esynaps.com/WebServices/DailyDiblert.asmx" />
    </port>
  </service>
</definitions>