GotDotNet.com/_Bins/XJS Alpha 5/Validation/xes.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="XES" type="XESType" />
	<xs:complexType name="XESType">
		<xs:sequence>
			<xs:element name="Name" type="xs:string" />
			<xs:element name="Description" type="xs:string" />
			<xs:element name="Author" type="xs:string" />
		</xs:sequence>
		<xs:attribute name="Version" type="xs:decimal" use="required"/>
	</xs:complexType>
</xs:schema>