WWF/Hands on labs 3.0/VB/Lab06/Completed/Exercise2/ContosoWorkflows/Web References/Fabrikam/FabrikamWorkflows.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ReceiveAndProcessPO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aPO" type="tns:PO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FulfillerTrackingNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="History" type="tns:ArrayOfPOStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="Items" type="tns:ArrayOfPOItem" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderTotal" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="PONumber" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPOStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="POStatus" nillable="true" type="tns:POStatus" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="POStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Contact" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PoStatus" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Timestamp" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPOItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="POItem" nillable="true" type="tns:POItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="POItem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Sku" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReceiveAndProcessPOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReceiveAndProcessPOResult" type="tns:PO" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReceiveAndProcessPOSoapIn">
    <wsdl:part name="parameters" element="tns:ReceiveAndProcessPO" />
  </wsdl:message>
  <wsdl:message name="ReceiveAndProcessPOSoapOut">
    <wsdl:part name="parameters" element="tns:ReceiveAndProcessPOResponse" />
  </wsdl:message>
  <wsdl:portType name="processPOWorkflow_WebServiceSoap">
    <wsdl:operation name="ReceiveAndProcessPO">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ReceiveAndProcessPO</wsdl:documentation>
      <wsdl:input message="tns:ReceiveAndProcessPOSoapIn" />
      <wsdl:output message="tns:ReceiveAndProcessPOSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="processPOWorkflow_WebServiceSoap" type="tns:processPOWorkflow_WebServiceSoap">
    <wsdl:documentation>
      <wsi:Claim conformsTo="http://ws-i.org/profiles/basic/1.1" xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" />
    </wsdl:documentation>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReceiveAndProcessPO">
      <soap:operation soapAction="http://tempuri.org/ReceiveAndProcessPO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="processPOWorkflow_WebServiceSoap12" type="tns:processPOWorkflow_WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReceiveAndProcessPO">
      <soap12:operation soapAction="http://tempuri.org/ReceiveAndProcessPO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="processPOWorkflow_WebService">
    <wsdl:port name="processPOWorkflow_WebServiceSoap" binding="tns:processPOWorkflow_WebServiceSoap">
      <soap:address location="http://localhost:50557/FabrikamWorkflows_WebService/FabrikamWorkflows.processPOWorkflow_WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="processPOWorkflow_WebServiceSoap12" binding="tns:processPOWorkflow_WebServiceSoap12">
      <soap12:address location="http://localhost:50557/FabrikamWorkflows_WebService/FabrikamWorkflows.processPOWorkflow_WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>