2002B2/Demos/Windows Forms (Mark Boulter)/Intro/NoTouch2/Shell/Web References/localhost/FormsListWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s0="http://tempuri.org/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetFormsList">
        <s:complexType />
      </s:element>
      <s:element name="GetFormsListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetFormsListResult" nillable="true" type="s0:ArrayOfFormInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFormInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FormInfo" nillable="true" type="s0:FormInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FormInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Name" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Description" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AssemblyName" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TypeName" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UrlLocation" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UrlImage" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfFormInfo" nillable="true" type="s0:ArrayOfFormInfo" />
    </s:schema>
  </types>
  <message name="GetFormsListSoapIn">
    <part name="parameters" element="s0:GetFormsList" />
  </message>
  <message name="GetFormsListSoapOut">
    <part name="parameters" element="s0:GetFormsListResponse" />
  </message>
  <message name="GetFormsListHttpGetIn" />
  <message name="GetFormsListHttpGetOut">
    <part name="Body" element="s0:ArrayOfFormInfo" />
  </message>
  <message name="GetFormsListHttpPostIn" />
  <message name="GetFormsListHttpPostOut">
    <part name="Body" element="s0:ArrayOfFormInfo" />
  </message>
  <portType name="FormsListWebServiceSoap">
    <operation name="GetFormsList">
      <input message="s0:GetFormsListSoapIn" />
      <output message="s0:GetFormsListSoapOut" />
    </operation>
  </portType>
  <portType name="FormsListWebServiceHttpGet">
    <operation name="GetFormsList">
      <input message="s0:GetFormsListHttpGetIn" />
      <output message="s0:GetFormsListHttpGetOut" />
    </operation>
  </portType>
  <portType name="FormsListWebServiceHttpPost">
    <operation name="GetFormsList">
      <input message="s0:GetFormsListHttpPostIn" />
      <output message="s0:GetFormsListHttpPostOut" />
    </operation>
  </portType>
  <binding name="FormsListWebServiceSoap" type="s0:FormsListWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetFormsList">
      <soap:operation soapAction="http://tempuri.org/GetFormsList" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="FormsListWebServiceHttpGet" type="s0:FormsListWebServiceHttpGet">
    <http:binding verb="GET" />
    <operation name="GetFormsList">
      <http:operation location="/GetFormsList" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="FormsListWebServiceHttpPost" type="s0:FormsListWebServiceHttpPost">
    <http:binding verb="POST" />
    <operation name="GetFormsList">
      <http:operation location="/GetFormsList" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="FormsListWebService">
    <port name="FormsListWebServiceSoap" binding="s0:FormsListWebServiceSoap">
      <soap:address location="http://localhost/FormsListWebService/FormsListWebService.asmx" />
    </port>
    <port name="FormsListWebServiceHttpGet" binding="s0:FormsListWebServiceHttpGet">
      <http:address location="http://localhost/FormsListWebService/FormsListWebService.asmx" />
    </port>
    <port name="FormsListWebServiceHttpPost" binding="s0:FormsListWebServiceHttpPost">
      <http:address location="http://localhost/FormsListWebService/FormsListWebService.asmx" />
    </port>
  </service>
</definitions>