2002B2/CS/WebServices-WinFormClient-BrowseViews/BrowseViewsClient/Web References/localhost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s0="http://tempuri.org/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="GetAllViews">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dbConnInfo" nillable="true" type="s0:DBConnData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DBConnData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="serverName" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="dbName" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="userName" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="pwd" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllViewsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetAllViewsResult" nillable="true">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryView">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dbConnInfo" nillable="true" type="s0:DBConnData" />
            <s:element minOccurs="1" maxOccurs="1" name="ViewName" nillable="true" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryViewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QueryViewResult" nillable="true">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="GetAllViewsSoapIn">
    <part name="parameters" element="s0:GetAllViews" />
  </message>
  <message name="GetAllViewsSoapOut">
    <part name="parameters" element="s0:GetAllViewsResponse" />
  </message>
  <message name="QueryViewSoapIn">
    <part name="parameters" element="s0:QueryView" />
  </message>
  <message name="QueryViewSoapOut">
    <part name="parameters" element="s0:QueryViewResponse" />
  </message>
  <portType name="Service1Soap">
    <operation name="GetAllViews">
      <input message="s0:GetAllViewsSoapIn" />
      <output message="s0:GetAllViewsSoapOut" />
    </operation>
    <operation name="QueryView">
      <input message="s0:QueryViewSoapIn" />
      <output message="s0:QueryViewSoapOut" />
    </operation>
  </portType>
  <portType name="Service1HttpGet" />
  <portType name="Service1HttpPost" />
  <binding name="Service1Soap" type="s0:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetAllViews">
      <soap:operation soapAction="http://tempuri.org/GetAllViews" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="QueryView">
      <soap:operation soapAction="http://tempuri.org/QueryView" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="Service1HttpGet" type="s0:Service1HttpGet">
    <http:binding verb="GET" />
  </binding>
  <binding name="Service1HttpPost" type="s0:Service1HttpPost">
    <http:binding verb="POST" />
  </binding>
  <service name="Service1">
    <port name="Service1Soap" binding="s0:Service1Soap">
      <soap:address location="http://localhost/BrowseViewCS/Service1.asmx" />
    </port>
    <port name="Service1HttpGet" binding="s0:Service1HttpGet">
      <http:address location="http://localhost/BrowseViewCS/Service1.asmx" />
    </port>
    <port name="Service1HttpPost" binding="s0:Service1HttpPost">
      <http:address location="http://localhost/BrowseViewCS/Service1.asmx" />
    </port>
  </service>
</definitions>