2003/Code Samples/Web Services/Web Services - Consume a Web Service/Web References/Esynaps/DailyDiblert.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DailyDilbertImage">
        <s:complexType />
      </s:element>
      <s:element name="DailyDilbertImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DailyDilbertImageResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DailyDilbertImagePath">
        <s:complexType />
      </s:element>
      <s:element name="DailyDilbertImagePathResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DailyDilbertImagePathResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="DailyDilbertImageSoapIn">
    <part name="parameters" element="s0:DailyDilbertImage" />
  </message>
  <message name="DailyDilbertImageSoapOut">
    <part name="parameters" element="s0:DailyDilbertImageResponse" />
  </message>
  <message name="DailyDilbertImagePathSoapIn">
    <part name="parameters" element="s0:DailyDilbertImagePath" />
  </message>
  <message name="DailyDilbertImagePathSoapOut">
    <part name="parameters" element="s0:DailyDilbertImagePathResponse" />
  </message>
  <portType name="DailyDilbertSoap">
    <operation name="DailyDilbertImage">
      <input message="s0:DailyDilbertImageSoapIn" />
      <output message="s0:DailyDilbertImageSoapOut" />
    </operation>
    <operation name="DailyDilbertImagePath">
      <input message="s0:DailyDilbertImagePathSoapIn" />
      <output message="s0:DailyDilbertImagePathSoapOut" />
    </operation>
  </portType>
  <binding name="DailyDilbertSoap" type="s0:DailyDilbertSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="DailyDilbertImage">
      <soap:operation soapAction="http://tempuri.org/DailyDilbertImage" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DailyDilbertImagePath">
      <soap:operation soapAction="http://tempuri.org/DailyDilbertImagePath" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="DailyDilbert">
    <port name="DailyDilbertSoap" binding="s0:DailyDilbertSoap">
      <soap:address location="http://www.esynaps.com/WebServices/DailyDiblert.asmx" />
    </port>
  </service>
</definitions>